// @import 'app/styles/fonts/fonts'; // it is imported seperately
@import 'app/styles/themes.json';
@import 'app/styles/variables.json';
@import 'app/styles/media';

:root {
	#{--wrapperWidthCss}: #{$wrapperWidth};

	@include respond-below(md) {
		#{--wrapperWidthCss}: #{$wrapperWidthMedium};
	};
};

$themeName: 1;
$themeMap: 1;
// http://www.colourlovers.com/lover/manekineko/loveNote
// http://www.colourlovers.com/lover/Miss_Anthropy/loveNote
// http://www.colourlovers.com/lover/sugar%21/loveNote
// http://www.colourlovers.com/lover/electrikmonk/loveNote
@mixin themeable {
	$names: dark, giant-goldfish, sugar, thought-provoking, cheer-up, fresh-cut;
	@each $name in $names {
		$themeName: $name !global;
		$themeMap: map-get($themes, $name) !global;
		@content;
	}
}

@mixin text-overflow-fade($bg, $width: 40px) {
	&::after {
		position: absolute;
		top: 0;
		right: 0;
		background: linear-gradient(to right, rgba(255, 255, 255, 0), $bg);
		width: $width;
		height: 100%;
		content: '';
	}
}

@mixin aspect-ratio($width, $height) {
	position: relative;

	&::before {
		display: block;
		float: left;
		padding-top: ($height / $width) * 100%;
		content: '';
	}
}

.text-button-icon-right {
	margin-left: $spacingUnit;
}

.text-button-icon-left {
	margin-right: $spacingUnit;
}

.text-button-icon-right-small {
	margin-left: $spacingUnit / 2;
}

.text-button-icon-left-small {
	margin-right: $spacingUnit / 2;
}

.floating-action-button {
	position: absolute;
	right: $spacingUnit * 2;
	bottom: $spacingUnit * 2;
}

.icon-svg {
	pointer-events: none;
}
