<!DOCTYPE html>
<html data-preload lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (var css in htmlWebpackPlugin.options.additionalCss) { %>
    <link href="<%= htmlWebpackPlugin.options.additionalCss[css] %>" rel="stylesheet">
    <% } %>
    <style>
      [data-server-view] #loading-screen-befonload {
          display: none;
      }
      body {
          background-color: #fdf0ca;
      }

      #loading-screen-befonload {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: content-box !important;
      }
      #loading-screen-befonload * {
          box-sizing: content-box !important;
      }
      .wrapper-preloading-spinner {
        /* Size and position */
        transition: border 300ms, border-color 300ms;
        font-size: 25px; /* 1em */
        width: 8em;
        height: 8em;
        margin: auto;
        position: relative;

        /* Styles */
        border-radius: 50%;
        background: rgba(255,255,255,0.1);
        border: 1em dashed rgba(0,150,136,0.75);
        box-shadow:
          inset 0 0 2em rgba(255,255,255,0.3),
          0 0 0 0.7em rgba(255,255,255,0.3);
        animation: rota 3.5s linear infinite;

        /* Font styles */
        font-family: 'Helvetica Neue', sans-serif;

        color: #323232;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 .04em rgba(255,255,255,0.9);
        line-height: 6em;
      }
      .wrapper-preloading-spinner:before,
      .wrapper-preloading-spinner:after {
          content: "";
          position: absolute;
          z-index: -1;
          border-radius: inherit;
          box-shadow: inset 0 0 2em rgba(255,255,255,0.3);
          border: 1em dashed;
      }

      .wrapper-preloading-spinner:before {
      	border-color: rgba(0,150,136,0.45);
      	top: 0; right: 0; bottom: 0; left: 0;
      }

      .wrapper-preloading-spinner:after {
      	border-color: rgba(0,150,136,0.65);
          top: 1em; right: 1em; bottom: 1em; left: 1em;
      }
      .wrapper-preloading-spinner .inner-preload-spin {
          width: 100%;
          height: 100%;
          animation: rota 3.5s linear reverse infinite;
      }

      .wrapper-preloading-spinner span {
          display: inline-block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          animation: placeholder 1.5s ease-out infinite;
      }

      .wrapper-preloading-spinner span:nth-child(1)  { animation-name: loading-1;  }
      .wrapper-preloading-spinner span:nth-child(2)  { animation-name: loading-2;  }
      .wrapper-preloading-spinner span:nth-child(3)  { animation-name: loading-3;  }
      .wrapper-preloading-spinner span:nth-child(4)  { animation-name: loading-4;  }
      .wrapper-preloading-spinner span:nth-child(5)  { animation-name: loading-5;  }
      .wrapper-preloading-spinner span:nth-child(6)  { animation-name: loading-6;  }
      .wrapper-preloading-spinner span:nth-child(7)  { animation-name: loading-7;  }
      .wrapper-preloading-spinner span:nth-child(8)  { animation-name: loading-8;  }
      @keyframes rota {
          to { transform: rotate(360deg); }
      }

      @keyframes loading-1 { 12.5% { opacity: 0.3; } }
      @keyframes loading-2 { 25% { opacity: 0.3; } }
      @keyframes loading-3 { 37.5% { opacity: 0.3; } }
      @keyframes loading-4 { 50% { opacity: 0.3; } }
      @keyframes loading-5 { 62.5% { opacity: 0.3; } }
      @keyframes loading-6 { 75% { opacity: 0.3; } }
      @keyframes loading-7 { 87.5% { opacity: 0.3; } }
      @keyframes loading-8 { 100% { opacity: 0.3; } }
    </style>
    <!-- jss-insertion-point -->
  </head>
  <body>
    <div id="loading-screen-befonload">
      <div class="wrapper-preloading-spinner">
        <div class="inner-preload-spin">
            <span>W</span>
            <span>e</span>
            <span>b</span>
            <span>B</span>
            <span>o</span>
            <span>a</span>
            <span>r</span>
            <span>d</span>
        </div>
      </div>
    </div>

<% if (htmlWebpackPlugin.options.appMountId) { %>    <div id="<%= htmlWebpackPlugin.options.appMountId%>">
    <noscript>Please enable JavaScript in order to use WebBoard!</noscript>
</div><% } %>
<% if (htmlWebpackPlugin.options.runningIn) { %>    <script>
      console.log('running in <%= htmlWebpackPlugin.options.runningIn%>');
    </script><% } %>
  </body>
</html>
