@import 'app/styles/common';

.container {
	position: relative;
	padding: $spacingUnit * 2 $spacingUnit * 3;
}

.section {
	padding-bottom: $spacingUnit * 2;

}

.section-inner {
	padding-right: $spacingUnit * 2;
	padding-left: $spacingUnit * 2;
}
