@import 'app/styles/common';
@import 'variables.json';

[data-route='/board/:book'] {
	@include respond-below(sm) {
		font-size: 65%; // bunu degistir
	}
}

@include themeable {
	.container-#{$themeName} {
		.bottom-bar {
			// box-shadow: 0 -1px 50px map-get($themeMap, 'primary');
			background: rgba(saturate(map-get($themeMap, 'primary'), 100), 0.75);
			color: map-get($themeMap, 'backgroundColor');

			svg {
				color: map-get($themeMap, 'backgroundColor'); // o kadar kasma
			}
		}

		.hamb {
			&.shrinked {
				background: rgba(saturate(map-get($themeMap, 'primary'), 100), 0.75);
			}
		}
	}
};

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
}

%pass-through {
	pointer-events: none;

	> * {
		pointer-events: auto;
	}
}

.toolset {
	@extend %pass-through;
	display: flex;
	position: absolute;
	top: 0;
	flex-flow: column nowrap;
	justify-content: space-between;
	// height: 100%;
	box-sizing: border-box;

	&.left {
		left: 0;
		align-items: flex-start;
	}

	&.right {
		right: 0;
		align-items: flex-end;
	}
}

.aletmenu {
	top: $aletMenuTop;

	.tool-cont {
		width: $toolWidth;
		height: $toolHeight;
		margin: 0.5rem 0;

		.tool {
			width: 100%;
			height: 100%;
		}
	}
}

.renkmenu {
	top: $renkMenuTop;
	height: 0; // do not matter

	.color-brush-container {
		width: $brushWidth;
		height: $brushHeight;
		// pointer-events: none;
	}
}

.stroke-cont {
	@include respond-below(sm) {
		transform: scale(0.65);
		transform-origin: right bottom;
	};
	position: absolute;
	right: 0;
	bottom: $strokeBottom; // Bunlar bir sync olcak
	pointer-events: none;
}

.bottom-bar {
	@extend %pass-through;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	transition: opacity $durationUnit, background-color $durationUnit, max-width $durationUnit, left $durationUnit;
	opacity: 1;
	margin: 0 auto;
	padding: 0 calc((100vw - var(--wrapperWidthCss)) / 2);
	width: 100%;
	max-width: 100vw;
	height: $bottomBarHeight;

	&.shrinked {
		left: 50%;
		background-color: transparent;
		padding: 0;
		max-width: 0;
	}

	&.hidden {
		opacity: 0;
	}

	.bot-subdiv {
		// display: flex;
		// align-items: center;
		// border-right: black solid 1px;;
		// border-left: black solid 1px;;
		// padding: 0 10px;;
		white-space: nowrap;
		// // &:after {
		// // 	content: 'sdfds';
		// // }
		//
		&.first-last {
			border-right: 0;
		}

		&.second-first {
			margin-left: auto;
			border-left: 0;
		}
		//
		// &:last-of-type {
		// 	// &:after {
		// 	// 	content: '';
		// 	// }
		// 	border-right: 0;
		// }
		//
		// &:first-of-type {
		// 	border-left: 0;
		// }
	}
}

.hamb {
	@include respond-below(sm) {
		margin-left: 0;
	};
	margin-left: calc((100vw - var(--wrapperWidthCss)) / -2);

	&.shrinked {
		transform: translateX(-50%);
		margin-left: 0;
	}
}
