@import 'app/styles/common';

.resim-paper {
	@include respond-below(sm) {
		margin: 0;
	}
	position: relative;
	margin: $spacingUnit;
}

.resim {
	@include respond-below(sm) {
		padding-top: (1) * 100%;
	};
	@include respond-below(md) {
		padding-top: (3 / 4) * 100%;
	};
	padding-top: (9 / 16) * 100%;
}
