@import 'app/styles/common';

.form-cont {
	display: flex;
	flex-direction: row;

	.form-label {
		padding: $spacingUnit * 2 $spacingUnit * 2 $spacingUnit * 2 $spacingUnit * 4;
		text-align: right;
		// width => DOM Manipulation -> inline
	}

	.radio {
		padding-top: $spacingUnit * 2;
		height: $spacingUnit * 4;

		&:last-of-type {
			margin-bottom: unset;
		}
	}

	.num-inp {
		width: 8em;
	}

	.helper {
		margin-top: 0;
		margin-left: auto;
		padding: $spacingUnit * 2;
	}
}

.cont {
	.section {
		padding-right: 0;
		padding-left: 0;
	}
}

.button-input {
	margin-top: $spacingUnit;
	margin-bottom: -$spacingUnit;
}
