@import 'app/styles/common';

@include themeable {
	.container-#{$themeName}{

	}
};

.container {
	@include respond-below(sm) {
		padding: 0;
	};

	padding: $spacingUnit * 2;
	max-width: var(--wrapperWidthCss);
}

.heading {
	padding-left: $spacingUnit * 2;
}

.cap {
	padding-top: $spacingUnit;
	text-align: right;
}

.panel {
	flex-direction: column;
}
