@import 'app/styles/common';

.butts {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;

	.typer { // ay ay uykum geldi bu ne igrenc bir klastir
		&:last-of-type {
			&::after {
				@include respond-above(sm) {
					margin-right: 0;
					margin-left: 0;
					content: '';
				};
			}
		}

		&::after {
			margin-right: $spacingUnit;
			margin-left: $spacingUnit;
			content: '';
		}
	}

	.butt-on {
		margin-left: $spacingUnit;

		&:first-of-type {
			margin-left: auto;
		}
	}
}
