.three-swipe-initial {
	transform: translateX(50%);

	&:hover,
	&:focus {
		transform: translateX(35%);
	}

	&.three-swipe-selected {
		transform: translateX(10%);
		z-index: 10;
	}
}

.primary-brush,
.secondary-brush {
	float: left;
	width: 50%;
	height: 100%;
}

.paint-brush {
	position: absolute;
	transform: scaleX(1.3) translate(10%, -30%) rotate(45deg);
}

.primary-brush {
	position: relative;
}

.secondary-brush {
	position: relative;

	.cute-bucket {
		transform: scale(0.5) translate(-57%, -42%);
	}
}
