@import 'app/styles/common';

@include themeable {
	.container-#{$themeName}{
		.status {
			background-color: map-get($themeMap, 'primary');

			.header-sub,
			.header-tit {
				color: map-get($themeMap, 'backgroundColor');
			}
		}

		.col-backcol {
			color: map-get($themeMap, 'backgroundColor');
		}
	}
};

.grid-cont {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	@include respond-below(sm) {
		padding: 0;
	};

	padding: $spacingUnit * 2;
	max-width: var(--wrapperWidthCss);
}

.heading {
	padding-left: $spacingUnit * 2;
}

.cap {
	padding-top: $spacingUnit;
	text-align: right;
}

.color-cont {
	flex-direction: row;

	.colors-primary,
	.colors-secondary {
		width: 45%;
	}
}

.tool-icon {
	position: absolute;
	width: 100%;
	height: 100%;
}

.tool-name {
	position: absolute;
	bottom: $spacingUnit;
	width: 100%;
	text-align: center;
}

.stroke-cont-out {
	display: block;
	flex-direction: column;
	pointer-events: none;

	.stroke {
		@include respond-below(sm) {
			width: 90vw;
			height: 27vw;
		};
		@include respond-below(xs) {
			width: 75vw;
			min-width: 200px;
			height: 22.5vw;
			min-height: 60px;
		};
		margin: auto;
		width: calc((var(--wrapperWidthCss) * (3 / 4)));
		height: calc((var(--wrapperWidthCss) * (3 / 4)) * (6 / 20));
	}
}

.paginator {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.status {
	margin-bottom: $spacingUnit;

	.header-tit {
		font-weight: bold;
	}

	.frame {
		margin: 0;
	}

	.actions {
		display: flex;
		justify-content: flex-end;
		padding: $spacingUnit * 1.5;
		padding-top: 0;
	}
}
