@import 'app/styles/common';
// [data-preload] {
// 	* {
// 		transition: none !important;
// 		animation: none !important;
// 	}
// }

@include themeable {
	[data-theme='#{$themeName}'] {
		body {
			// background-color: map-get($themeMap, 'backgroundColor');
		}

		:global(.wrapper-preloading-spinner) {
			border: 1em dashed rgba(map-get($themeMap, 'secondary'), 0.5);

			&::before {
				border-color: rgba(map-get($themeMap, 'secondary'), 0.2);
			}

			&::after {
				border-color: rgba(map-get($themeMap, 'secondary'), 0.4);
			}
		}

		// ::-webkit-scrollbar {
		// 	background: map-get($themeMap, 'backgroundColor');
		// }
		//
		// ::-webkit-scrollbar-thumb {
		// 	background-color: rgba(map-get($themeMap, 'primary2Color'), 0.4) !important;
		//
		// 	&:hover {
		// 		background-color: rgba(map-get($themeMap, 'primary2Color'), 0.8) !important;
		// 	}
		//
		// 	&:active {
		// 		background-color: rgba(map-get($themeMap, 'primary2Color'), 0.6) !important;
		// 	}
		// }
	}
};

html,
body {
	overflow: hidden;
}

body {
	transition: background-color $durationUnit;
}

html {
	@include respond-below(sm) {
		font-size: 85%;
	};
}

// Global end

.app-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
