::-webkit-scrollbar {
	width: 9px !important;
	height: 9px !important;
}

::-webkit-scrollbar-button {
	&:end {
		&:increment {
			display: none;
			width: 0;
			height: 0;
		}
	}

	&:start {
		&:decrement {
			display: none;
			width: 0;
			height: 0;
		}
	}
}

::-webkit-scrollbar-track-piece {
	margin: 1px;
	background: transparent !important;
	padding: 0;
	width: 6px !important;
	height: 5px !important;
}

::-webkit-scrollbar-thumb {
	z-index: 2147483647;
	margin: 1px  !important;
	border: 2px solid transparent !important;
	border-radius: 12px;
	background-clip: content-box;
	background-color: rgba(0, 0, 0, 0.35);
	width: 1px !important;
}

::-webkit-scrollbar-corner {
	border: 1px solid transparent;
	background: transparent !important;
}
