@import 'app/styles/common';

@include themeable {
	.connected-#{$themeName} {
		color: map-get($themeMap, 'secondary');
	}
};

.connected {
	position: fixed;
	bottom: $spacingUnit * 2;
	left: $spacingUnit * 2;
	width: 3rem !important;
	height: 3rem !important;
	pointer-events: none;
}

* {
	-webkit-font-smoothing: antialiased;
	user-select: none;
	box-sizing: border-box;

	&:focus {
		outline: 0;
	}
}

html,
body {
	margin: 0;
	background: rgba(0, 1, 2, 0);
	height: 100%;
}
