@import 'app/styles/common';
@import 'variables.json';

.stroked {
	display: flex;
	position: relative;
	flex-direction: row-reverse;
	background: $rulerColor;
	width: $strokeMeterWidth;
	height: $strokeMeterWidth * (6 / 20)
}

.pianotiles {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 88%;
	pointer-events: all;

	&.selected {
		background: $strokeMeterSelColor;
	}
}

.ruler {
	position: absolute;
	width: 100%;
}
