@import 'app/styles/common';

.dropzone {
	width: auto;

	.dia-content {
		// min-height: 100px;

		.uppercont {
			display: flex;
			width: 100%;

			.namefield {
				flex: 1;
			}

			.select {
				min-width: $spacingUnit * 10;
			}
		}

	}
}

.features {
	display: flex;
	justify-content: space-evenly;
	padding-top: $spacingUnit * 3;

	> .untertanen {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 50%;
	}
}
