// sass-lint:disable nesting-depth
@import 'app/styles/common';

@include themeable {
	.container-#{$themeName}{
		.books {
			.list {
				color: map-get($themeMap, 'backgroundColor');

				.list-text > * {
					[data-browser] & {
						@include text-overflow-fade(map-get($themeMap, 'primary'));
					}
				}

				.subh {
					background-color: map-get($themeMap, 'primary');
				}
			}
		}

		.feat-button {
			color: map-get($themeMap, 'backgroundColor');
		}

		.detail {
			.abs-bottom-det {
				background-color: rgba(map-get($themeMap, 'backgroundColor'), 0.75);
			}
		}

		%no-bgs {
			background-color: map-get($themeMap, 'backgroundColor');
		}
	}
};

.container {
	@include respond-below(sm) {
		flex-direction: column;
		width: 100%;
		height: 100%;
		max-height: unset;
	};

	display: flex;
	position: absolute; // bu ve asagidaki madness centering icin
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	margin: auto;
	width: var(--wrapperWidthCss);
	height: 75%;
	max-height: 550px; // FIXME
}

%bodies {
	@include respond-below(sm) {
		width: 100%;
	};
	@include respond-above(sm) {
		height: 100%;
	};
	transition: flex $durationUnit, background-color $durationUnit;
};

@mixin n-paper($ratio: 2 / 3, $he: 100%) { // bu ve icerdeki component overflow ederken icerisi squish olmasin diye
	overflow: hidden;

	& > .n-paper {
		@include respond-below(sm) {
			min-width: 0;
		};
		min-width: calc((#{$ratio}) * var(--wrapperWidthCss));
		height: $he;
	}
}

.close {
	position: absolute;
	top: $spacingUnit;
	right: $spacingUnit;
}

.navs {
	@extend %bodies;
	@include n-paper(2 / 16);
	position: relative;
	flex: 0;
	width: 100%;
	height: 100%;

	.inner {
		@include respond-below(sm) {
			flex-direction: row;
		};
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		overflow: hidden;
	}

	&.shown {
		flex: 2;
	}

	.feat-button {
		@include aspect-ratio(1, 1);
		@include respond-below(sm) {
			width: unset;
		};
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 100%;

		.feat-icon {
			@include respond-above(sm) {
				width: 60%;
				height: 60%;
			};
		}
	}
}

.feat-container {
	@extend %bodies;
	@extend %no-bgs;
	@include n-paper(12 / 16, auto);
	flex: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	.inner {
		position: relative;
		height: 100%;
	}

	&.grown {
		flex: 12;
	}
}

.welcomer {
	@extend %bodies;
	@extend %no-bgs;
	@include respond-below(md) {
		h1 {
			font-size: 5rem;
		}
	};
	@include respond-below(sm) {
		@include n-paper(7 / 16, auto);
	};
	@include respond-above(sm) {
		@include n-paper(10 / 16, auto);
	};
	display: flex;
	flex: 0;
	align-items: center;
	justify-content: center;

	text-align: center;

	&.shown {
		@include respond-below(sm) {
			flex: 7;
		};
		flex: 10;
	}
}

.books {
	@extend %bodies;
	@include respond-below(sm) {
		flex: 7;
	}
	flex: 4;
	overflow: hidden;


	&.shrinked {
		flex: 2;

	}

	&.selected {
		@include respond-below(sm) {
			flex: 3;
		};
		flex: 5;
	}

	.list {
		height: 100%;
		overflow-y: auto;

		.list-text > * {
			position: relative;
			overflow: hidden;
			text-overflow: fade;
			white-space: nowrap;
			color: inherit;
		}
	}

	.subh {
		transition: background-color $durationUnit;
		color: inherit;
		font-weight: bold;
	}
}

.detail {
	@extend %bodies;
	@extend %no-bgs;
	@include n-paper(11 / 16);
	position: relative;
	flex: 0;

	&.selected {
		@include respond-below(sm) {
			flex: 13;
		};

		flex: 11;
	}

	.abs-bottom-det {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
