@import 'app/styles/common';

@include themeable {
	.grid-list-#{$themeName} {
		.grid-item {
			background-color: map-get($themeMap, 'secondary');

			.col-check-icon {
				color: map-get($themeMap, 'primary');
			}
		}
	}
};

.grid-list {
	width: 100%;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
}

.grid-item {
	position: relative;
	transition: transform 0.3s ease-in-out;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.col-check-icon {
		position: absolute;
		width: 65%;
		height: 65%;
	}

	&-cont {
		@include aspect-ratio(1, 1);
		@include respond-below(sm) { // 2
			width: calc(50% - #{$spacingUnit}) !important;
		};
		@include respond-above(sm) { // 3
			width: calc(20% - #{$spacingUnit}) !important;
		};

		position: relative;
		margin: $spacingUnit / 2;
	}

	.inneropa {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: opacity 0.3s ease-in-out;
		opacity: 0.2;
		background-color: black;
		content: '';
	}

	&.active {
		transform: scale(1.25);
		z-index: 10;
	}

	&:hover {
		&:not(.active) {
			transform: scale(1.1);
		}
	}

	&.active,
	&:hover {
		.inneropa {
			opacity: 0;
		}
	}
}
