.default-th {
	transition: transform 0.2s;

	width: 100%;
	height: 100%;

	&:hover,
	&:focus {
		z-index: 20;
	}
}

// you should have a copy of this in for minimum your things for customs
// you can change defaults above in it too

// you can remove right left as youll know what it will be

// !!! better give it higher priority so that it doesnt collapse
.normal {
	&.selected {
		z-index: 10;
	}

	&.right {
		transform: translateX(50px);

		&:hover,
		&:focus {
			transform: translateX(30px);
		}

		&.selected {
			transform: translateX(0);
		}
	}

	&.left {
		transform: translateX(-50px);

		&:hover,
		&:focus {
			transform: translateX(-30px);
		}

		&.selected {
			transform: translateX(0);
		}
	}
}
