@import 'app/styles/common';

%flex-cont {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

%flex-child {
	margin-right: $spacingUnit * 6;
}

.properties {
	@extend %flex-cont;

	> .prop {
		@extend %flex-child;
	}
}

.generation {
	@include respond-below(xs) {
		flex-direction: column;
	};
	display: flex;
	justify-content: space-between;
}

.gener-types {
	@extend %flex-cont;
	flex: 0 auto;
	align-items: center;
	justify-content: space-between;
	max-height: 140px;

	.gener-type {
		&.blank,
		&.web {
			text-overflow: clip;
		}
	}
}

.generated-entries {
	@include respond-below(xs) {
		margin-top: $spacingUnit * 2;
	};
	flex: 0 auto;
	min-width: 50%;
	height: 150px;
	overflow: auto;
}
