@import 'app/styles/common';

@include themeable {
	.expan-#{$themeName} {
		.expan-sum {
			background-color: map-get($themeMap, 'primary');
		}

		.exp-heading {
			color: map-get($themeMap, 'backgroundColor');
		}

		.col-backcol {
			color: map-get($themeMap, 'backgroundColor');
		}
	}
};

.expan {
	.exp-heading {
		flex-basis: 33.3%;
	}
}
