@import 'app/styles/common';

@include themeable {
	.special-paper-#{$themeName} {
		background-color: map-get($themeMap, 'primary');
	}
}

.special-paper {
	transition: background-color $durationUnit;
	z-index: 100; // kenarlar ciksin ortaya
}
